<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AttachmentEncryption.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AttachmentEncryption.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AttachmentEncryption.Properties.Settings>
            <setting name="TempFolder" serializeAs="String">
                <value>Mm0205\AttachmentEncryption\Temp</value>
            </setting>
        </AttachmentEncryption.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <AttachmentEncryption.Properties.Settings>
            <setting name="AutoSending" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileNamePrefix" serializeAs="String">
                <value>attach_</value>
            </setting>
            <setting name="PasswordMailTitlePrefix" serializeAs="String">
                <value>[パスワードのお知らせ] </value>
            </setting>
            <setting name="FileNameDateTimeFormat" serializeAs="String">
                <value>yyyyMMdd</value>
            </setting>
            <setting name="PasswordMailTemplate" serializeAs="String">
                <value>{{ for toName in tos }}{{ toName }}様
{{ end }}

{{ company }}の{{ user }}です
先ほどのメールの添付ファイルのパスワードをお知らせします。

件名: {{ subject }}
パスワード: {{ password }}

どうぞよろしくお願い致します。

＃自社製のOutlookアドインによって、誤送信防止および
自動添付ファイル暗号化を実現しています</value>
            </setting>
            <setting name="DefaultCompany" serializeAs="String">
                <value>[会社名]</value>
            </setting>
            <setting name="DefaultUserName" serializeAs="String">
                <value>[ユーザー名]</value>
            </setting>
        </AttachmentEncryption.Properties.Settings>
    </userSettings>
</configuration>